<!-- Create New Project -->
<div class="create-project container">
    <h1 class="fw-bolder fs-2">Create new project</h1>
    <!-- Project Name -->
    <div class="project-name">
        <div id="title">Project Name</div>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter project name here">
    </div>
    <!-- Project Description -->
    <div class="project-description">
        <div id="title">Project Description</div>
        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter project description here">
    </div>
    <!-- Team Members -->
    <div class="team-members">
        <div id="title">Team Members</div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Select Team Members here</option>
            <option value="1">Irena Matraku</option>
            <option value="2">Kamber Peka</option>
            <option value="3">Igli Maksuti</option>
            <option value="4">Klaudio B</option>
          </select>
    </div>
    <!-- Categories -->
    <div class="categories">
        <div id="title">Categories</div>
        <mat-form-field class="example-chip-list" appearance="standard">
            <mat-chip-list #chipList aria-label="Category selection">
              <mat-chip *ngFor="let category of category" (removed)="remove(category)">
                {{category.name}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="New category..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
    </div>
    <!-- Status -->
    <div id="title">Status</div>
    <div class="status row">
        <div class="form-check col-lg-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              To be done
            </label>
          </div>
          <div class="form-check col-lg-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              In progress
            </label>
          </div>
          <div class="form-check col-lg-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
            <label class="form-check-label" for="flexRadioDefault3">
              Completed
            </label>
          </div>
    </div>
    <div class="button col text-center mt-5">
      <a routerLink="/createdproject"><button type="button" class="btn btn-primary create-btn mx-auto">SAVE PROJECT</button></a>
    </div>
</div>
<div class="container footer mx-auto text-center" style="color: #333 ;">
    © Software Development Academy 2022
</div>