.edit-page {
  padding: 20px 40px;

  mat-card {
    background-color: #f7f7f7;
  }

  .edit-task-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .full-width {
    width: 100%;
  }

  mat-label {
    font-weight: bold;
  }
  .radio-group {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }

  .date-picker-field {
    max-width: 400px;
  }
  .button-container {
      display: flex;
      justify-content: center;
      
  }
}
