<!-- Create New Project -->
<div class="create-project container">
    <h1 class="fw-bolder fs-2">Create new project</h1>

    <!-- Project Name -->
    <div class="project-name">
        <div id="title">Project Name</div>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Enter your project name here</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
        </form>
    </div>
    
    <!-- Project Description -->
    <div class="project-description">
        <div id="title">Project Description</div>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Enter your project description here</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
        </form>
    </div>
    
    <!-- Team Members -->
    <div class="team-members">
        <div id="title">Team Members</div>
        <mat-form-field appearance="standard">
          <mat-label>Select team members here</mat-label>
          <mat-select [formControl]="team_members" multiple>
            <mat-select-trigger>
              {{team_members.value?.[0] || ''}}
              <span *ngIf="(team_members.value?.length || 0) > 1" class="example-additional-selection">
                (+{{(team_members.value?.length || 0) - 1}} {{team_members.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let team_members of team_members_List" [value]="team_members">{{team_members}}</mat-option>
          </mat-select>
        </mat-form-field>
        
    </div>
    <!-- Categories -->
    <div class="categories">
        <div id="title">Categories</div>
        <mat-form-field class="example-chip-list" appearance="standard">
            <mat-chip-list #chipList aria-label="Category selection">
              <mat-chip *ngFor="let category of category" (removed)="remove(category)">
                {{category.name}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="New category..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
    </div>
    <!-- Status -->
    <div id="title">Status</div>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">To be done</mat-radio-button>
      <mat-radio-button value="2">In progress</mat-radio-button>
      <mat-radio-button value="">Completed</mat-radio-button>
    </mat-radio-group>
    
    <div class="button col text-center mt-5">
      <a routerLink="/projects/:projectsId"><button type="button" class="btn btn-primary create-btn mx-auto">SAVE PROJECT</button></a>
    </div>
</div>
<div class="container footer mx-auto text-center" style="color: #333 ;">
    © Software Development Academy 2022
</div>