<!-- Navbar -->
<div class="container justify-content-between mt-4 mb-5">
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
          <img src="/assets/img/taskr.io-logo.svg" width="183.31" height="39" alt="">
        </a>
        
        <form class="d-flex" role="search">
            <input class="form-control me-4 search-bar" type="search" placeholder="Search" aria-label="Search">
            <a routerLink="/projects/new"><button type="button" class="btn btn-primary create-btn">+ CREATE PROJECT</button></a>
        </form>
    </nav>
</div>


