.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: rgb(241, 26, 83);
    // color: white;
}

.bg-orange {
    background-color: orange;
}

.create-btn{
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1.25px;
    font-style: normal;
    line-height: 36px;
    background-color: #2063E3;
}

mat-panel-title {
    font-size: large;
    font-weight: bold;
}

