<div class="container">
    <mat-accordion>
    <mat-expansion-panel *ngFor="let project of projects" class="mat-expantion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title class="col-2">
          {{ project.title }}
        </mat-panel-title>
        <mat-panel-description class="col-10">
            <button mat-raised-button color="accent" class="btn-status">{{ project.status }}</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- Project Description -->
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias doloribus tempora quisquam maxime repudiandae fugit odit omnis architecto minus quae vitae facilis soluta possimus eum, quibusdam quaerat cupiditate fuga eaque?</p>
      <!-- Team members -->
      <h3 class="fw-bold">Team Members</h3>
      <p>Irena Matraku</p>
      <p>Paula Xhindoli</p>
      <p>Klaudio Bendaj</p>
      <p>Igli Maksuti</p>
      <p>Marjo Ceca</p>
      <!-- Categories -->
            <mat-chip-list aria-label="Categories">
                <div class="col-11">
                    <mat-chip color="primary" selected>Development</mat-chip>
                    <mat-chip color="primary" selected>DevOps</mat-chip>
                    <mat-chip color="primary" selected>Design</mat-chip>
                </div>
                <div class="col-1">
                  <a routerLink="/tasks">
                     <button mat-flat-button color="primary" class="button" style="background-color:#2063E3 ;" >Check Tasks</button>
                  </a>
                </div>
            </mat-chip-list>
      
    
    </mat-expansion-panel>
  </mat-accordion>
  
</div>

