<!-- Create new project page -->
<div id="gray-container" class="container">
    <h3>Create new project</h3>
    
    <div class="project-content">
        <h4>Project Name</h4>
        <input type="text" class="form-control" placeholder="Enter your project name here" aria-label="Username" aria-describedby="basic-addon1">
        <h4>Description</h4>
        <input type="text" class="form-control" placeholder="Enter your description here" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="team-members">
        <h4>Team Members</h4>
        
        

    </div>

</div>