<!-- Create New Project -->

<div class="create-project container">
    <h1 class="fw-bolder fs-2">Create new project</h1>
    <div class="project-name">
        <div id="title">Project Name</div>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter project name here">
    </div>
    <div class="project-description">
        <div id="title">Project Description</div>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter project description here">
    </div>
    <div class="team-members">
        <div id="title">Team Members</div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Select Team Members here</option>
            <option value="1">Irena Matraku</option>
            <option value="2">Kamber Peka</option>
            <option value="3">Igli Maksuti</option>
            <option value="4">Klaudio B</option>
          </select>
    </div>
    <div class="categories">
        
        
          
    </div>
</div>